.dashboard-cards{
    display: flex;
    gap: .3rem;
    background: var(--color-white-variant);
}


.sidebar-container{
    background: var(--color-black);
    color: var(--color-white);
    height: 100vh;
    overflow: hidden;
    padding: 1rem;
}

.sidebar-menu{
    padding: 1.4rem;
}

.menu-items{
    display: flex;
    gap: .6rem;
    margin-top: 2.6rem;
    padding: .8rem;
    cursor: pointer;
}
.side-top{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    margin: 1rem;
}